.fit-content.height{
    height: fit-content !important;
}
.allCentered{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.row{
    margin:10px 0 10px 0;
}