.login-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: fixed;
}

.login-block {
  width: 360px;
  vertical-align: middle;
  display: flex;
  border-top: 3px solid #007bff;
}

.loginRow {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.loginButton{
  flex: 5;
}

.rememberCheckbox{
  flex:4;
}
.message{
  font-size: 12px;
}
